$flex : flex;
$wrap : wrap;
$container : 80%;
$max : 100%;


// color
$white : white;


// font
$size-h1 : 50px;
$span-h1 : 70px;
$size-logo : 30px;
$color-h1 : #42495B;
$size-p : 16px;
$color-p : #7A839E;
$light : 300;
$regular : 400;
$bold : 600;
$font : 'poppins', 'sans-serif';
$size-h3 : 20px;
$color-h3 : #7E76F9;
$color-price : #1000FF;
$size-h4 : 24px;
$size-h5 : 20px;

// button
$background-button : linear-gradient(to right, #1A129F, #4E44E0);
$radius : 25px;
$padding-button : 10px 40px;


// responsive
$tablette : " screen and (max-width: 1000px)";
$mobile : " screen and (max-width: 600px)";

